<app-nav></app-nav>

<section>
    <h1>Welcome to Card Game!</h1>
    <h2>Search for Magic the gathering cards</h2>
      
      <input type="text" [(ngModel)]="term" placeholder="Try Skyhunter">
      <i class="fa fa-search"></i>
</section>

<section class="[ card-cont ]">

<div class="[ card ]" *ngFor="let mtgcards of mtgcardsDetail | filter:term">
  <h3>{{ mtgcards.name }}</h3>
    <img src="{{ mtgcards.imageUrl }}" alt="Magic the gathering cards"><br>
      <a [routerLink]="[ '/specific-page', { id: mtgcards.id }]">View more</a>
</div>
</section>