@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    font-family: 'Montserrat';
    font-size: 18px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}



