header {
    background: #7766FF;
    height: 60px;
    .cont{
        max-width: 1200px;
        margin: 0 auto;
        padding-right: 1em;
        padding-left: 1em;
    }
    .logo {
        float: left;
        
        padding: 10px;
        font-size: 32px;
        a{
            color: white;
            font-weight: bold;
        }
    }
    nav {
        ul {
            list-style-type: none;
            margin: 0; padding: 0;
            display: flex;
            justify-content: flex-end;
            li {
                padding: 20px 0;
                a {
                    padding: 20px;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: white;
                    &:hover {
                        background-color: rgba(255,255,255,0.2);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 590px) {
    header{
        height: 100px;
        nav{
            padding-top: 40px;
           
        }
    }
}